<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cars</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<div class="jumbotron text-center">
    <h1>Cars management</h1>
</div>

<div class="container">
    <div class="row mx-auto">
        <div class="col-sm-5">
            <form th:action="@{/}">
                <h3>Select date:</h3>
                <input placeholder="FROM" type="number" th:name="min"/>
                <input placeholder="TO" type="number" th:name="max"/>
                <br>
                <button type="submit" class="btn btn-primary">Show</button>
                <a href="/" class="btn btn-secondary">All results</a>
            </form>
        </div>
        <div class="col-sm-4">
            <h3>Search result:</h3>
            <table style="margin: 0px; padding: 0px; width: 98%;">
                <thead>
                <tr>
                    <th>Mark</th>
                    <th>Model</th>
                    <th>Color</th>
                    <th>Year</th>
                </tr>
                </thead>
                <tbody th:each="car: ${cars}">
                <tr>
                    <td title="Mark"  th:text="${car.getMark()}"/>
                    <td title="Model" th:text="${car.getModel()}"/>
                    <td title="Color"  th:text="${car.getColor()}"/>
                    <td title="Year" th:text="${car.getProductionYear()}"/>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-3">
            <form th:action="@{/add-car}" th:object="${newCar}" method="post">
                <p>Mark: <br><input type="text" th:field="*{mark}"></p>
                <p>Model: <br><input type="text" th:field="*{model}"></p>
                <p>Color: <br><input type="text" th:field="*{color}"></p>
                <p>Production year: <br><input type="text" th:field="*{productionYear}"></p>
                <p><input type="submit" class="btn btn-danger" value="Add new car"></p>
            </form>
        </div>
    </div>
</div>

</body>
</html>
